<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>countingGoal</key>
	<dict>
		<key>counterIdentifier</key>
		<string>words</string>
		<key>targetResult</key>
		<integer>20000</integer>
		<key>type</key>
		<string>at_least</string>
	</dict>
	<key>resolutionData</key>
	<dict>
		<key>countingGoal</key>
		<real>517011969.80185503</real>
		<key>sheetClusters</key>
		<dict>
			<key>Hour 01 - The Hold.md</key>
			<dict>
				<key>lastModification</key>
				<real>521536080.30868</real>
				<key>version</key>
				<dict>
					<key>33c640e1fd941fa6e4ed895572fe837efaf2a6ddb28a5d53fa625f142123053e</key>
					<integer>20</integer>
					<key>4ad3534063bc2674ee126311d00a5d8b7dd6dfbdd330af6667debbab6e7dc2c0</key>
					<integer>26</integer>
					<key>d7adcdc17210250e33fd73bc3387b89208eb9e5b55da2798b422ee71e5aadea1</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>Hour 03.md</key>
			<dict>
				<key>lastModification</key>
				<real>521536080.30886298</real>
				<key>version</key>
				<dict>
					<key>33c640e1fd941fa6e4ed895572fe837efaf2a6ddb28a5d53fa625f142123053e</key>
					<integer>20</integer>
					<key>4ad3534063bc2674ee126311d00a5d8b7dd6dfbdd330af6667debbab6e7dc2c0</key>
					<integer>27</integer>
					<key>d7adcdc17210250e33fd73bc3387b89208eb9e5b55da2798b422ee71e5aadea1</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>Hour 04.md</key>
			<dict>
				<key>lastModification</key>
				<real>521536080.30900699</real>
				<key>version</key>
				<dict>
					<key>33c640e1fd941fa6e4ed895572fe837efaf2a6ddb28a5d53fa625f142123053e</key>
					<integer>20</integer>
					<key>4ad3534063bc2674ee126311d00a5d8b7dd6dfbdd330af6667debbab6e7dc2c0</key>
					<integer>28</integer>
					<key>d7adcdc17210250e33fd73bc3387b89208eb9e5b55da2798b422ee71e5aadea1</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>Hour 08 - Incoming.md</key>
			<dict>
				<key>lastModification</key>
				<real>518316593.270419</real>
				<key>version</key>
				<dict>
					<key>33c640e1fd941fa6e4ed895572fe837efaf2a6ddb28a5d53fa625f142123053e</key>
					<integer>17</integer>
					<key>4ad3534063bc2674ee126311d00a5d8b7dd6dfbdd330af6667debbab6e7dc2c0</key>
					<integer>12</integer>
					<key>d7adcdc17210250e33fd73bc3387b89208eb9e5b55da2798b422ee71e5aadea1</key>
					<integer>6</integer>
				</dict>
			</dict>
			<key>Hour 08 - Sara.md</key>
			<dict>
				<key>lastModification</key>
				<real>521527432.82494801</real>
				<key>version</key>
				<dict>
					<key>33c640e1fd941fa6e4ed895572fe837efaf2a6ddb28a5d53fa625f142123053e</key>
					<integer>20</integer>
					<key>4ad3534063bc2674ee126311d00a5d8b7dd6dfbdd330af6667debbab6e7dc2c0</key>
					<integer>20</integer>
					<key>d7adcdc17210250e33fd73bc3387b89208eb9e5b55da2798b422ee71e5aadea1</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>Hour 08 - Survivors.md</key>
			<dict>
				<key>lastModification</key>
				<real>521527432.82479298</real>
				<key>version</key>
				<dict>
					<key>33c640e1fd941fa6e4ed895572fe837efaf2a6ddb28a5d53fa625f142123053e</key>
					<integer>20</integer>
					<key>4ad3534063bc2674ee126311d00a5d8b7dd6dfbdd330af6667debbab6e7dc2c0</key>
					<integer>19</integer>
					<key>d7adcdc17210250e33fd73bc3387b89208eb9e5b55da2798b422ee71e5aadea1</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>Hour 08 - Unwanted.md</key>
			<dict>
				<key>lastModification</key>
				<real>518316682.12813902</real>
				<key>version</key>
				<dict>
					<key>33c640e1fd941fa6e4ed895572fe837efaf2a6ddb28a5d53fa625f142123053e</key>
					<integer>17</integer>
					<key>4ad3534063bc2674ee126311d00a5d8b7dd6dfbdd330af6667debbab6e7dc2c0</key>
					<integer>12</integer>
					<key>d7adcdc17210250e33fd73bc3387b89208eb9e5b55da2798b422ee71e5aadea1</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>Hour 72 - David &amp; Sara.md</key>
			<dict>
				<key>lastModification</key>
				<real>521529915.07679999</real>
				<key>version</key>
				<dict>
					<key>33c640e1fd941fa6e4ed895572fe837efaf2a6ddb28a5d53fa625f142123053e</key>
					<integer>20</integer>
					<key>4ad3534063bc2674ee126311d00a5d8b7dd6dfbdd330af6667debbab6e7dc2c0</key>
					<integer>23</integer>
					<key>d7adcdc17210250e33fd73bc3387b89208eb9e5b55da2798b422ee71e5aadea1</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>Hour 72 -.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>521527343.810718</real>
				<key>lastModification</key>
				<real>521527343.810718</real>
				<key>version</key>
				<dict>
					<key>33c640e1fd941fa6e4ed895572fe837efaf2a6ddb28a5d53fa625f142123053e</key>
					<integer>20</integer>
					<key>4ad3534063bc2674ee126311d00a5d8b7dd6dfbdd330af6667debbab6e7dc2c0</key>
					<integer>17</integer>
					<key>d7adcdc17210250e33fd73bc3387b89208eb9e5b55da2798b422ee71e5aadea1</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>Interlude (Midia).md</key>
			<dict>
				<key>lastModification</key>
				<real>517011921.03371</real>
				<key>version</key>
				<dict>
					<key>33c640e1fd941fa6e4ed895572fe837efaf2a6ddb28a5d53fa625f142123053e</key>
					<integer>9</integer>
				</dict>
			</dict>
			<key>Interlude (Star).md</key>
			<dict>
				<key>lastModification</key>
				<real>521617076.67284602</real>
				<key>version</key>
				<dict>
					<key>33c640e1fd941fa6e4ed895572fe837efaf2a6ddb28a5d53fa625f142123053e</key>
					<integer>27</integer>
					<key>4ad3534063bc2674ee126311d00a5d8b7dd6dfbdd330af6667debbab6e7dc2c0</key>
					<integer>28</integer>
					<key>d7adcdc17210250e33fd73bc3387b89208eb9e5b55da2798b422ee71e5aadea1</key>
					<integer>15</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Hour 72 - David &amp; Sara.md</string>
		</array>
		<array>
			<string>Hour 72 -.md</string>
		</array>
		<array>
			<string>Interlude (Star).md</string>
		</array>
		<array>
			<string>Hour 08 - Survivors.md</string>
			<string>Hour 08 - Sara.md</string>
		</array>
		<array>
			<string>Hour 01 - The Hold.md</string>
			<string>Hour 03.md</string>
			<string>Hour 04.md</string>
		</array>
		<array>
			<string>Hour 08 - Unwanted.md</string>
		</array>
		<array>
			<string>Hour 08 - Incoming.md</string>
		</array>
		<array>
			<string>Interlude (Midia).md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>countingGoal</key>
		<dict>
			<key>33c640e1fd941fa6e4ed895572fe837efaf2a6ddb28a5d53fa625f142123053e</key>
			<integer>7</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>33c640e1fd941fa6e4ed895572fe837efaf2a6ddb28a5d53fa625f142123053e</key>
			<integer>28</integer>
			<key>4ad3534063bc2674ee126311d00a5d8b7dd6dfbdd330af6667debbab6e7dc2c0</key>
			<integer>28</integer>
			<key>d7adcdc17210250e33fd73bc3387b89208eb9e5b55da2798b422ee71e5aadea1</key>
			<integer>15</integer>
		</dict>
	</dict>
</dict>
</plist>
