<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>countingGoal</key>
	<dict>
		<key>counterIdentifier</key>
		<string>words</string>
		<key>targetResult</key>
		<integer>20000</integer>
		<key>type</key>
		<string>at_least</string>
	</dict>
	<key>resolutionData</key>
	<dict>
		<key>countingGoal</key>
		<real>517011969.80185503</real>
		<key>sheetClusters</key>
		<dict>
			<key>Hour 00 - Crash.md</key>
			<dict>
				<key>lastModification</key>
				<real>517012064.09298003</real>
				<key>version</key>
				<dict>
					<key>33c640e1fd941fa6e4ed895572fe837efaf2a6ddb28a5d53fa625f142123053e</key>
					<integer>10</integer>
				</dict>
			</dict>
			<key>Hour 01 - The Hold.md</key>
			<dict>
				<key>lastModification</key>
				<real>517012231.36524302</real>
				<key>version</key>
				<dict>
					<key>33c640e1fd941fa6e4ed895572fe837efaf2a6ddb28a5d53fa625f142123053e</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>Hour 04.md</key>
			<dict>
				<key>lastModification</key>
				<real>517011921.01517302</real>
				<key>version</key>
				<dict>
					<key>33c640e1fd941fa6e4ed895572fe837efaf2a6ddb28a5d53fa625f142123053e</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Hour 05.md</key>
			<dict>
				<key>lastModification</key>
				<real>517171471.156973</real>
				<key>version</key>
				<dict>
					<key>33c640e1fd941fa6e4ed895572fe837efaf2a6ddb28a5d53fa625f142123053e</key>
					<integer>17</integer>
					<key>4ad3534063bc2674ee126311d00a5d8b7dd6dfbdd330af6667debbab6e7dc2c0</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>Hour 13 - Sara.md</key>
			<dict>
				<key>lastModification</key>
				<real>517012071.64885098</real>
				<key>version</key>
				<dict>
					<key>33c640e1fd941fa6e4ed895572fe837efaf2a6ddb28a5d53fa625f142123053e</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>Hour 13 - Survivors.md</key>
			<dict>
				<key>lastModification</key>
				<real>517012071.64915198</real>
				<key>version</key>
				<dict>
					<key>33c640e1fd941fa6e4ed895572fe837efaf2a6ddb28a5d53fa625f142123053e</key>
					<integer>13</integer>
				</dict>
			</dict>
			<key>Hour 14 - David.md</key>
			<dict>
				<key>lastModification</key>
				<real>517011921.02675402</real>
				<key>version</key>
				<dict>
					<key>33c640e1fd941fa6e4ed895572fe837efaf2a6ddb28a5d53fa625f142123053e</key>
					<integer>6</integer>
				</dict>
			</dict>
			<key>Hour 14 - Incoming.md</key>
			<dict>
				<key>lastModification</key>
				<real>517169747.305094</real>
				<key>version</key>
				<dict>
					<key>33c640e1fd941fa6e4ed895572fe837efaf2a6ddb28a5d53fa625f142123053e</key>
					<integer>17</integer>
					<key>4ad3534063bc2674ee126311d00a5d8b7dd6dfbdd330af6667debbab6e7dc2c0</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>Interlude (Midia).md</key>
			<dict>
				<key>lastModification</key>
				<real>517011921.03371</real>
				<key>version</key>
				<dict>
					<key>33c640e1fd941fa6e4ed895572fe837efaf2a6ddb28a5d53fa625f142123053e</key>
					<integer>9</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Hour 00 - Crash.md</string>
		</array>
		<array>
			<string>Hour 13 - Survivors.md</string>
			<string>Hour 13 - Sara.md</string>
		</array>
		<array>
			<string>Hour 01 - The Hold.md</string>
			<string>Hour 04.md</string>
			<string>Hour 05.md</string>
		</array>
		<array>
			<string>Hour 14 - Incoming.md</string>
		</array>
		<array>
			<string>Hour 14 - David.md</string>
		</array>
		<array>
			<string>Interlude (Midia).md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>countingGoal</key>
		<dict>
			<key>33c640e1fd941fa6e4ed895572fe837efaf2a6ddb28a5d53fa625f142123053e</key>
			<integer>7</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>33c640e1fd941fa6e4ed895572fe837efaf2a6ddb28a5d53fa625f142123053e</key>
			<integer>17</integer>
			<key>4ad3534063bc2674ee126311d00a5d8b7dd6dfbdd330af6667debbab6e7dc2c0</key>
			<integer>8</integer>
		</dict>
	</dict>
</dict>
</plist>
